@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, #1b1b1b);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: "JetBrains Mono", monospace;
}

::-webkit-scrollbar {
  display: none;
}
